
.icon-ok:before { content: '\c856'; } /* '졖' */
.icon-close:before { content: '\c910'; } /* '줐' */
.icon-project_information:before { content: '\e800'; } /* '' */
.icon-message:before { content: '\e801'; } /* '' */
.icon-design:before { content: '\e802'; } /* '' */
.icon-connect:before { content: '\e803'; } /* '' */
.icon-folder:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-8-layers:before { content: '\e806'; } /* '' */
.icon-star-o:before { content: '\e807'; } /* '' */
.icon-architectionary:before { content: '\e808'; } /* '' */
.icon-grid-list:before { content: '\e809'; } /* '' */
.icon-attachment:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-arrow-liner-down:before { content: '\e80e'; } /* '' */
.icon-web:before { content: '\e80f'; } /* '' */
.icon-pen:before { content: '\e810'; } /* '' */
.icon-file:before { content: '\e811'; } /* '' */
.icon-list:before { content: '\e812'; } /* '' */
.icon-payment:before { content: '\e814'; } /* '' */
.icon-enter:before { content: '\e815'; } /* '' */
.icon-eye:before { content: '\e81d'; } /* '' */
.icon-arrow-up:before { content: '\e820'; } /* '' */
.icon-arrow-down:before { content: '\e821'; } /* '' */
.icon-arrow-down-line:before { content: '\f004'; } /* '' */
.icon-arrow-up-line:before { content: '\f005'; } /* '' */
.icon-arrow-right-line:before { content: '\f006'; } /* '' */
.icon-arrow-left-line:before { content: '\f007'; } /* '' */
